extends layout

block content
  h1 ID: #{item._id}

  p #[strong Name:]
    a(href=item.url) #{item.name}
  p #[strong Price:] #{item.price}
  p #[strong Description:] #{item.description}
  p #[strong Stock Count:] #{item.stockCount}



  p Do you really want to delete this Item?

   form(method='POST' action='')
    div.form-group
      input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )

      button.btn.btn-primary(type='submit') Delete