extends layout

block content
  h1 #{item.name}
  br
  p #[strong Price:] #{item.price}
  p #[strong Department:]
    a(href=item.department.url)  #{item.department.name}
  p #[strong Description:] #{item.description}
  p #[strong Stock Count:] #{item.stockCount}
  hr
  p
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item

